    {{>header}}
    
    <div class="container">
        <h1>Home Page</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt libero harum assumenda perspiciatis mollitia sit sapiente molestiae quis iste quibusdam? Porro, quas nisi? Officia deleniti modi quisquam placeat cumque laboriosam, accusamus dolor impedit doloribus exercitationem itaque consequatur perferendis non pariatur cum consequuntur facilis. Architecto deserunt corrupti velit maiores excepturi modi id, optio quia, ipsa, eveniet delectus molestiae totam. Laboriosam, accusamus quasi iste obcaecati veniam non error impedit nostrum reiciendis tempore rem, quos itaque nihil id dignissimos assumenda maxime placeat repellendus? Repudiandae blanditiis nobis harum qui at? Laborum eaque, harum facere non architecto expedita cumque magni reiciendis natus a voluptas incidunt mollitia est quam maxime similique, alias atque rerum ratione molestiae. Accusamus, inventore sapiente molestiae modi illum voluptatibus nihil dolores quos eaque fugit laudantium error reprehenderit doloribus, qui deleniti cumque suscipit porro laboriosam, culpa voluptates mollitia tempora. Et, tempora quibusdam illo vitae qui saepe quas officia voluptatum numquam maxime id dignissimos inventore corrupti molestiae natus aspernatur non quasi magni aut laborum, exercitationem quae? At, et alias minima omnis necessitatibus molestias recusandae maiores. Cum porro iste ipsum nam nemo voluptatem iusto nihil, voluptate tempora libero, repellendus error reiciendis. Deserunt, quas. Veritatis totam aliquid temporibus laboriosam, voluptates obcaecati nihil quis nisi labore quia.
        </p>
    </div>

    {{>footer}}