<div class="container footer">
        <h1>&copy;Nodexpress. All Rights Reserved</h1>
    </div>

    <style>
        body{
            height: 100%;
        }
        .footer{
            background-color: black;
            color: white;
            position:sticky;
            bottom: 0;
            right: 0;
        }

        .footer h1{
            text-align: center;
        }
    </style>
</body>
</html>